.filter-sorter-select{
    width: 100%;
}

.select-container{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.select-container label{
    margin: inherit !important;
}

.select-title{
    min-width: fit-content;
    margin: 10px 0 10px 0;
    font-size: larger;
}


@media (min-width: 200px) and (max-width: 430px) {
    .select-container{
        flex-direction: column;
    }
    .select-title{
        margin: 0 0 10px 5px;
    }
}