.filter-sorter-select{
    width: 100%;
}

.select-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.select-container label{
    margin: inherit !important;
}

.select-title{
    min-width: fit-content;
    margin-right: 15px;
}


@media (min-width: 200px) and (max-width: 430px) {
    .select-container{
        flex-direction: column;
        align-items: start;
    }
    .select-title{
        margin: 0 0 10px 5px;
    }
}